/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
    margin: 0;
    background: url(../images/bg-body.gif) repeat-x #000000;
}

.page {
    width: 100%;
    max-width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
    position: center;
}

/*------------------------- Font ------------------------*/
@font-face {
    font-family: 'RokkittRegular';
    font-family: 'RokkittRegular';
    src: url('../fonts/rokkitt-regular-webfont.eot');
    src: url('../fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rokkitt-regular-webfont.woff') format('woff'), url('../fonts/rokkitt-regular-webfont.ttf') format('truetype'), url('../fonts/rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------- Sidebar ------------------------*/
.sidebar {
    position: fixed;
    height: 100%;
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    z-index: 1;
    padding: 24px;
    width: 320px;
}

    .sidebar div#logo {
        background: url(../images/interface.png) no-repeat 0 -142px;
        height: 60px;
        padding: 24px 0 0;
        position: center;
        top: 0;
    }

        .sidebar div#logo a {
            display: block;
            height: 60px;
            margin: 0 auto;
            outline: none;
            width: 60px;
        }

            .sidebar div#logo a img {
                border: 0;
            }

    .sidebar ul.navigation {
        background: url(../images/border-dashed.gif) repeat-x left bottom;
        list-style: none;
        margin: 40px auto;
        padding: 0;
        text-align: center;
        position: relative;
    }

        .sidebar ul.navigation li {
            height: 36px;
            margin: 0 0 10px;
        }

            .sidebar ul.navigation li.selected {
                background: url(../images/interface.gif) no-repeat;
            }

                .sidebar ul.navigation li.selected a, .sidebar ul.navigation li a:hover {
                    color: #801002;
                }

            .sidebar ul.navigation li a {
                color: #cf3d01;
                font-family: RokkittRegular;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                outline: none;
                text-decoration: none;
            }

    .sidebar div.connect {
        background: url(../images/border-dashed.gif) repeat-x center bottom;
        overflow: hidden;
        top: 0;
        display: table;
        margin: 0 auto;
        text-align: center;
    }

        .sidebar div.connect a {
            display: block;
            float: left;
            outline: none;
            text-decoration: none;
            text-indent: -99999px;
        }

            .sidebar div.connect a#facebook {
                background: url(../images/fb.svg) no-repeat;
                height: 26px;
                margin: 0 0 0 0px;
                width: 37px;
            }

            .sidebar div.connect a#twitter {
                background: url(../images/twitter.svg) no-repeat;
                height: 26px;
                margin: 0 0 0 10px;
                width: 37px;
            }

            .sidebar div.connect a#instagram {
                background: url(../images/ig.svg) no-repeat;
                height: 26px;
                margin: 0 0 0 10px;
                width: 37px;
            }

    .sidebar p {
        color: #f99d20;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin: 24px auto;
        text-align: center;
    }

/*------------------------- Content ------------------------*/
.content {
    padding: 0 24px;
    margin-left: 320px;
}

.content .blog{
    background: #dedede;
}