@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/homestyle.css" />
</head>

<div class="page">
    <div class="sidebar">
        <div id="logo">
            <a href="/Index"><img src="~/images/rd.png" style="height:60px;width:60px;" alt="logo"></a>
        </div>
        <ul class="navigation">
            <li class="selected">
                <a href="/Index">Home</a>
            </li>
            <li>
                <a href="/About">About Me</a>
            </li>
            <li>
                <a href="/Privacy">Privacy Policy</a>
            </li>

        </ul>

        <div class="connect">
            <a href="https://www.facebook.com/reddvidapps/info" target="_blank" id="facebook">facebook</a>
            <a href="https://www.twitter.com/reddvidapps" target="_blank" id="twitter">twitter</a>
            <a href="https://www.isntagram.com/reddvidapps" target="_blank" id="instagram">instagram</a>
        </div>
        <p>
            &#169; Copyright &#169; 2018.<br>Red David Apps. All rights reserved
        </p>
    </div>
    <div class="content">
        <div class="article">
            <h2>Welcome to Red David Apps</h2>
            <p>
                Universal apps for Windows 10 devices
                (Mobile, too!)
            </p>
        </div>
        <div class="blog">
            <ul>
                <li>
                    <div>
                        <div>
                            <a href="#"><img src="images/ring-a-posers.jpg" alt=""></a>
                            <a href="#">Download</a>
                        </div>
                        <div>
                            <h3>Ring-a-posers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
                            <a href="#">Read more>></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <a href="#"><img src="images/ring-a-posers.jpg" alt=""></a>
                            <a href="#">Download</a>
                        </div>
                        <div>
                            <h3>Ring-a-posers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
                            <a href="#">Read more>></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <a href="#"><img src="images/ring-a-posers.jpg" alt=""></a>
                            <a href="#">Download</a>
                        </div>
                        <div>
                            <h3>Ring-a-posers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
                            <a href="#">Read more>></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <a href="#"><img src="images/ring-a-posers.jpg" alt=""></a>
                            <a href="#">Download</a>
                        </div>
                        <div>
                            <h3>Ring-a-posers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
                            <a href="#">Read more>></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <a href="#"><img src="images/ring-a-posers.jpg" alt=""></a>
                            <a href="#">Download</a>
                        </div>
                        <div>
                            <h3>Ring-a-posers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exrci tation ullamcorper suscipit lobortis nisl ut aliq</p>
                            <a href="#">Read more>></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="section">
                <a href="#">back to top</a>
                <a href="#">Show All</a>
                <div class="paging">
                    <a href="#">Prev</a>
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>