@page
@model IndexModel
@{
    ViewData["Title"] = "Red David Apps";
}
<head>
    <link rel="stylesheet" href="~/css/homestyle.css" />
</head>

<div class="page">
    <div class="content">
        <div id="logo">
            <a href="/Index">
            <img src="~/images/rd.png" style="height:60px;width:60px;" alt="logo"></a>
        </div>  
        <p>
            <h2>Red David Apps</h2>
        </p>
        <br/>            
        <ul class="navigation">
            <li class="selected">
                <a href="/Index">Home</a>
            </li>
            <li>
                <a href="/About">About Me</a>
            </li>
            <li>
                <a href="/Privacy">Privacy Policy</a>
            </li>

        </ul>

        <div class="connect">
            <a href="https://www.facebook.com/reddvidapps/info" target="_blank" id="facebook">facebook</a>
            <a href="https://www.twitter.com/reddvidapps" target="_blank" id="twitter">twitter</a>
            <a href="https://www.instagram.com/reddvidapps" target="_blank" id="instagram">instagram</a>
        </div>
        <p>
            &#169; Copyright &#169; 2018.<br>Red David Apps. All rights reserved
        </p>
    </div>
</div>